<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />

        <meta name="theme-color" content="#fff" media="(prefers-color-scheme: light)" />
        <meta name="theme-color" content="#212529" media="(prefers-color-scheme: dark)" />

        <link rel="stylesheet" href="/cdn/css/bootstrap.min.css" integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous" />

        <title>{{ page.title }} | Corona Virus Photo Archives</title>
        <script src="/cdn/js/darkmode-js.min.js" integrity="sha512-y61YvXQLQM3hubnG+D7IKUAaPlfwzjkNE5XdEZPzoxFXLeeS8TJQ4aUVmmHRrkk0OMz5FmZF1Fv88A79/W7mgw==" crossorigin="anonymous"></script>
        <script>
            function addDarkmodeWidget() {
                new Darkmode(); /*.showWidget();*/
            }
            window.addEventListener("load", addDarkmodeWidget);
        </script>
    </head>
    <body>
        <script>
            /*!
             * Recommended browsers
             * https://updatemybrowser.org/
             */
            var _umb = {
                require: {
                    chrome: 90,
                    safari: 13.6,
                    edge: 90,
                    firefox: 88,
                    ie: null,
                    opera: 75,
                },
                nonCritical: true,
            };
            (function (u) {
                var s = document.createElement("script");
                s.async = true;
                s.src = u;
                var b = document.getElementsByTagName("script")[0];
                b.parentNode.insertBefore(s, b);
            })("https://updatemybrowser.org/umb.js");
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bowser@2.11.0/es5.js" integrity="sha512-yhfpxH2+jcsyRpKsh33gMOiE17hiSnVZTTO/5rZKsZc67koXPYsdMj9zQSapqsV2SAeD5bFM+1m0eRcd9/mOfg==" crossorigin="anonymous"></script>
        <script>
            function browsersupportcheck() {
                /*!
                 * Check Firefox, Chrome, Safari version
                 * https://stackoverflow.com/questions/5916900/how-can-you-detect-the-version-of-a-browser#answer-49582577
                 */
                var result = bowser.getParser(window.navigator.userAgent);
                if (((result.parsedResult.browser.name == "Firefox") & (result.parsedResult.browser.version <= "59.0.3")) || ((result.parsedResult.browser.name == "Safari") & (result.parsedResult.browser.version <= "11.1.2")) || ((result.parsedResult.browser.name == "Chrome") & (result.parsedResult.browser.version <= "59.0.3071")) ) {
                    document.write("<style>.msie-check{display:none!important}</style>");
                    document.location.href = "/upgrade.html";
                }

                /*****************************/

                /*!
                 * Check if user is running MSIE or Legacy Edge
                 * https://www.geeksforgeeks.org/how-to-check-the-user-is-using-internet-explorer-in-javascript/#d6f45c53-ff16-4cc5-8b91-eb6ee7037116
                 */

                var ua = window.navigator.userAgent;
                var msie = ua.indexOf("MSIE ");
                var trident = ua.indexOf("Trident/");
                var edge = ua.indexOf("Edge/");
                if (msie > 0 || trident > 0 || edge > 0) {
                    document.write("<style>.msie-check{display:none!important}</style>");
                    document.location.href = "/upgrade.html";
                }
            }
            /* Must check if the client's browser is supported; if yes, then load the content (otherwise redirect to a page asking to update their browser) */
            browsersupportcheck();
        </script>
        <div class="msie-check script-check">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="/"><embed src="/logo.png" width="30" height="30" alt draggable="false" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Photos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/posters">Posters</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="//href.li/?https://github.com/coronavirusphotoarchives/coronavirusphotoarchives.github.io" target="_noopener">View on GitHub</a>
                            </li>
                            <!--
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>-->
                            <!--
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>-->
                        </ul>
                        <!--
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>-->
                    </div>
                </div>
            </nav>
            {{ content }}
        </div>
        <noscript>
            <style>
                .script-check {
                    display: none !important;
                }
            </style>
            <meta http-equiv="refresh" content="0; url = /upgrade.html" />
        </noscript>
        <script src="/cdn/js/bootstrap.min.js" integrity="sha512-72WD92hLs7T5FAXn3vkNZflWG6pglUDDpm87TeQmfSg8KnrymL2G30R7as4FmTwhgu9H7eSzDCX3mjitSecKnw==" crossorigin="anonymous"></script>
    </body>
</html>
